<app-painel-senhas></app-painel-senhas>
<div class="col-12">
  <button type="button" name="buttonChamarProximaSenha" (click)="chamaProximaSenha()" class="btn btn-primary botoes-chamada col-3"><i class="fas fa-exchange-alt"></i> Chamar Próxima Senha</button>
  <button type="button" name="buttonChamarSenhaAtual" (click)="chamaSenhaAtual()" class="btn btn-primary botoes-chamada col-3"><i class="fas fa-arrow-up"></i> Chamar Senha Atual</button>
  <button type="button" name="buttonZerarSenhas" (click)="zeraSenhas()" class="btn btn-primary botoes-chamada col-3"><i class="fas fa-broom"></i> Zerar Senhas</button>
  <button type="button" name="buttonCentralizador" (click)="navegaPainelCentralizador()" class="btn btn-primary botoes-chamada col-3"><i class="fas fa-external-link-alt"></i> Centralizador</button>
</div>
